<app-alert *ngIf="showAlert" [color]="alertColor">
  {{ alertMsg }}
</app-alert>

<!-- Registration Form -->
<form [formGroup]="registerForm" (ngSubmit)="register()">
  <!-- Name -->
  <div class="mb-3">
    <label class="inline-block mb-2">Name</label>
    <app-input [control]="name" [placeholder]="'Enter name'" />
  </div>
  <!-- Email -->
  <div class="mb-3">
    <label class="inline-block mb-2">Email</label>
    <app-input
      [type]="'email'"
      [control]="email"
      [placeholder]="'Enter valid email address'"
    />
  </div>
  <!-- Age -->
  <div class="mb-3">
    <label for="age" class="inline-block mb-2">Age</label>
    <app-input
      [type]="'number'"
      [control]="age"
      [placeholder]="'Enter your age'"
    />
  </div>
  <!-- Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Password</label>
    <app-input
      [type]="'password'"
      [control]="password"
      [placeholder]="'Enter password'"
      autocomplete="off"
    />
  </div>
  <!-- Confirm Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Confirm Password</label>
    <app-input
      [type]="'password'"
      [control]="confirm_password"
      [placeholder]="'Confirm Password'"
      autocomplete="off"
      confirmPass="{{validPassword}}"
    />

  </div>
  <!-- Phone Number -->
  <div class="mb-3">
    <label class="inline-block mb-2">Phone Number</label>
    <app-input
      [type]="'text'"
      mask="(000)000-00000"
      [control]="phone_number"
      [placeholder]="'(000) 000-0000'"
    />
  </div>
  <button
    type="submit"
    [disabled]="registerForm.invalid"
    class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition hover:bg-indigo-500 disabled:opacity-50 disabled:bg-indigo-500"
  >
    Submit
  </button>
</form>
