
<input
  [type]="type"
  [formControl]="control"
  [mask]="mask"
  [dropSpecialCharacters]="false"
  class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
  [placeholder]="placeholder"
/>

@if (control.touched && control.dirty ) {
<ng-container>
  @if (control.errors?.required) {
  <p class="text-red-400">This field is required.</p>
  } @if (control.errors?.minlength) {
  <p class="text-red-400">Min length is 3 characters for user name.</p>
  } @if (control.errors?.email && type === 'email') {
  <p class="text-red-400">Please enter a valid email address.</p>
  } @if (control.errors?.min && type === 'number') {
  <p class="text-red-400">Enter valid age, Min age is 18.</p>
  }@if (control.errors?.max && type === 'number') {
  <p class="text-red-400">Enter valid age, Max age is 100.</p>
  } @if (control.errors?.pattern) {
  <p class="text-red-400">
    - at least 8 characters <br />- must contain at least 1 uppercase letter, 1
    lowercase letter, and 1 number <br />- Can contain special characters
  </p>
  } @if(control.errors?.mask) {
  <p class="text-red-400">Please enter a valid phone number.</p>
  }
</ng-container>
}
